
{{>head}}

{{> navbar }}


<div class="jumbotron">

    <table>
    <tr>
         <td>
          
                <input type="text" name="txbMonto" id="txbMonto" class="form-control" placeholder="Monto" aria-label="Username" aria-describedby="basic-addon1">
           
        </td>
        <td>
            <select class="form-control" name="ddlTipoTransaccion" id="ddlTipoTransaccion">
                <option value="1">Ingreso</option>
                <option value="2">Salida</option>
            </select>
        </td>
        <td>
            <button type="button" name="btnTransaccion" id="btnTransaccion" class="btn btn-primary">Transaccion</button>
        </td>
    </tr>    
    </table>    
    
    <br>
    <hr class="my-4">
    <h4 class="display-5">Datos</h4>
    
    <hr class="my-4">
    <table>
    <tr>
        <td><strong>Cuenta :</strong></td>
        <td>825445362541</td>
    </tr>
    <tr>
        <td><strong>Titular :</strong></td>
        <td>Jose Bruno Aguilar Omonte</td>
    </tr>
    </table>    
    <hr class="my-4">
    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Movimiento</th>
            <th scope="col">Monto</th>
            <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody id="tbody">
            {{!-- <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            </tr>
            <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            </tr>
            <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            </tr> --}}
        </tbody>
    </table>

   
</div>

{{>footer}}
